@import url(https://fonts.google.com/specimen/Fraunces);

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: grid;
    place-items: center;
}

.container {
    width: 40%;
    margin: auto;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}

.item {
    flex: 1;
}

.img-container {
    overflow: hidden; 
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#product-name {
    color:  hsl(212, 21%, 14%);
    font-family: 'Fraunces', sans-serif;
}

.new-price {
    color: hsl(158, 36%, 37%);
}

.old-price {
    text-decoration: line-through;
}

.add-to-cart {
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
}

.add-to-cart:hover {
    background-color: hsl(158, 42%, 18%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}